:root{
--accent:#2563eb;  /* azul */
--accent-2:#7c3aed; /* morado */
--glass-blur: 8px; /* desenfoque de vidrio */
--radius: 12px;   /* radio de borde */
}

.app-container{
    max-width:1100px; /* ancho máximo */
    margin:28px auto; /* centrar horizontalmente */
    padding:10px; /* espacio interno */
}

.card-spot{
    box-shadow:0 6px 18px rgba(15, 23, 42, 1); /* sombra suave */
    border-radius:12px; /* bordes redondeados */
}

.brand {
    font-weight:700;   /* peso de fuente */
    color:var(--accent); /* color de acento */
    font-size:1.3rem; /* tamaño de fuente */
    letter-spacing:1px; /* espacio entre letras */
    background: #ffffffc0; /*blanco solido para legibilidad*/
    border: 3px solid rgba(6, 58, 121, 0.53); /* borde sutil */
    border-radius: var(--radius); box-shadow: 3px 5px 5px rgba(6, 9, 23, 0.54); /* sombra para profundidad */
    padding:3px 6px; /* espacio interno */
    -webkit-backdrop-filter: blur(var(--glass-blur)) saturate(180%); /* efecto vidrio para Safari */
    backdrop-filter: blur(var(--glass-blur)) saturate(180%); /* efecto vidrio estándar para compatibilidad */
    text-transform:uppercase; /* mayúsculas */
    font-family: 'Inter', roboto, poppins, montserrat, averta; /* fuente legible */
    margin-bottom: 5px; /* margen inferior */
} /* estilo de la marca */

.role-badge.administrador{
    background:#ff6b6b; /* rojo */
    color:#fff;
} 

.role-badge.tecnico{
    background:#ffd166;color:#000a3b; /* amarillo */
} 

.role-badge.operario{
    background:#6ee7b7;color:#084c41; /* verde */
}

.create-input{max-width: 300px;} /* ancho máximo inputs creación */

.texto{
     color: rgba(0,0,0,0.55); /* color del texto */
    font-size: 1rem; /* Tamaño pequeño */
    font-style: italic; /* Cursiva */
    margin-top: 4px; /* Espacio superior */
    margin-bottom: 4px; /* Espacio inferior */
    font-weight: 700; /* Negrita */
    font-family: 'Inter', roboto, poppins, montserrat, averta; /* fuente legible */
    display: inline-block; /* para que el padding funcione */
    border-radius: 40px;  /* bordes redondeados */
    padding: 4px 15px; /* espacio interno */
    margin-top: 10px; /* espacio superior */
}